// variables
// Colors

// Primary

$BrightBlue: #3a7bfd;
$HoverBorder: linear-gradient(to right bottom, #57ddff, #c058f3);

//Neutral

// Light Theme
$VeryLightGray: #fafafa;
$VeryLightGrayishBlue: #e4e5f1;
$LightGrayishBlue: #d2d3db;
$DarkGrayishBlue: #9394a5;
$VeryDarkGrayishBlue: #484b6a;

// Dark Theme
$VeryDarkBlue: #161722;
$VeryDarkDesaturatedBlue: #25273c;
$LightGrayishBlue: #cacde8;
$LightGrayishBlue: #e4e5f1; //(hover)
$DarkGrayishBlue: #777a92;
$VeryDarkGrayishBlue: #4d5066;
$VeryDarkGrayishBlue: #393a4c;

$FontSize: 18px;

$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
